<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Spring Security Oauth</title>
</head>

<body>
	<span th:text="${#authentication})"></span>
</body>
</html>